@import "../../theme/dimensions";
@import "../../theme/colors";

.home-banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 800px;

  .banner {
    width: $min-page-width;
    padding-top: 200px;
    padding-right: 50px;
    margin-top: -100px;
    background-image: url("../../img/jalo-jeronimo.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .title {
    width: 708px;
    font-size: 127px;
    color: white;
    font-weight: 700;
    line-height: 145px;
  }

  .subtitle {
    width: 600px;
    font-size: 36px;
    color: $secondary-color;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 46px;
  }
}
