@import "../../theme/colors.scss";

.pajination-menu > ul {
  display: inline-flex;
}

.pagination,
.start-end-buttons {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  padding-inline-start: 0;
  li {
    padding: 0.2rem;

    a,
    button {
      background: #1b2c48;
      padding: 5px 10px;
      outline: none;
      cursor: pointer;
      border-radius: 0.3rem;
      color: white;
    }
  }
}

.pagination > .active > a,
.start-end-buttons > :hover > button {
  color: $secondary-color;
}

button {
  font: inherit;
  border-width: 0;
}
